<footer>
  <div class="container-fluid">
    <div class="row animated bounceInUp">
      <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid footer center">
          <small class="text-muted block-text">Elaborado por Daniel Garcia</small>
          <a href="https://github.com/beyakus/demo/issues" class="block-text center" target="_blank">
            <small class="text-muted">Repositorio demostraci&oacute;n</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>